<section class="customers">
    <div class="prop-img" [ngStyle]="{'background-image': 'url(../assets/spacejoy-c0JoR_-2x3E-unsplash.jpg)'}">
        <div class="propoverlay">
            <p class="p1"></p>
        </div>
    </div>
    <div class="prop-desc">
        <p></p>
    </div>
    <div class="list-of-prop">
        <div class="heading-button">
            <h1>Executives List</h1>
        </div>
        <div class="flex">
            <button (click)="openForm()" class="btn-add">Add New Executive</button>
            <div *ngIf="showAddExecutiveForm" class="property-form">
                <form (ngSubmit)="createExecutive()">
                    <input type="text" placeholder="Name" [(ngModel)]="newExecutive.name" name="name" required />
                    <input type="email" placeholder="Email" [(ngModel)]="newExecutive.email" name="email" required />
                    <input type="text" placeholder="Number" [(ngModel)]="newExecutive.number" name="number" required />
                    <input type="text" placeholder="Location" [(ngModel)]="newExecutive.location" name="location" required />
                    <input type="text" placeholder="Password" [(ngModel)]="newExecutive.password" name="password" required />
                    <button type="submit" class="btn-submit">Create Executive</button>
                </form>
            </div>
            <table>
            <thead>
                <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Number</th>
                <th>Location</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let executive of customers">
                <td>{{ executive.name }}</td>
                <td>{{ executive.email }}</td>
                <td>{{ executive.number }}</td>
                <td>{{ executive.location }}</td>
                <td>
                    <a [routerLink]="['/employees', executive.email]" class="btn-view">View</a>
                    <a [routerLink]="['/employees', executive.email]" class="btn-edit">Edit</a>
                    <button (click)="deleteExecutive(executive.email)" class="btn-delete">Delete</button>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</section>