<nav class="navbar" [style.background-color]="navbarColor">
  <ul>
    <li class="logo"><img routerLink="/home" src="../assets/logo.png"></li>
    <div class="listhead" *ngIf="!isMobileView">
      <!-- SignIn and Logout links -->
      <li class="list" routerLinkActive="active" *ngIf="!isLoggedIn"><a href="#" routerLink="/signin">SignIn</a></li>
      <!-- <li class="list" *ngIf="isLoggedIn"><a href="#" (click)="logout()">Logout</a></li> -->
      <li class="dropdown" *ngIf="isLoggedIn">
        <a href="#" class="dropbtn">Hi {{ userType }} <fa-icon [icon]="dropdownIcon"></fa-icon></a>
        <div class="dropdown-content">
            <a (click)="goToProfile()">Profile</a>
            <a (click)="logout()">Logout</a>
        </div>
      </li>
    

      <li class="list" routerLinkActive="active" *ngIf="isCustomer()"><a href="#" routerLink="/wishlist">My Wishlist</a></li>
      <li class="list" routerLinkActive="active" *ngIf="isManager()"><a href="#" routerLink="/cust-reqs">Customer Requests</a></li>
      <li class="list" routerLinkActive="active" *ngIf="isExecutive()"><a href="#" routerLink="/exec-clients">My Customers</a></li>

      <li class="list" routerLinkActive="active" *ngIf="isManager()"><a href="#" routerLink="/executives">Executives</a></li>
      <li class="list" routerLinkActive="active" *ngIf="isExecutive()"><a href="#" routerLink="/customers">All Customers</a></li>
      <li class="list" routerLinkActive="active" *ngIf="isManager()"><a href="#" routerLink="/customers">All Customers</a></li>

      <li class="list" routerLinkActive="active" *ngIf="isManager()"><a href="#" routerLink="/properties">Properties</a></li>
      <li class="list" routerLinkActive="active" *ngIf="isCustomer()"><a href="#" routerLink="/properties">Properties</a></li>

      <li class="list" routerLinkActive="active" *ngIf="!isLoggedIn"><a href="#" routerLink="/home">Home</a></li> 
      <li class="list" routerLinkActive="active" *ngIf="isCustomer()"><a href="#" routerLink="/cust-dashboard">Home</a></li>
      <li class="list" routerLinkActive="active" *ngIf="isManager()"><a href="#" routerLink="/exec-dashboard">Home</a></li>
      <li class="list" routerLinkActive="active" *ngIf="isExecutive()"><a href="#" routerLink="/exec-dashboard">Home</a></li>
    </div>
  </ul>
</nav>