<section class="customers">
    <div class="prop-img" [ngStyle]="{'background-image': 'url(../assets/spacejoy-c0JoR_-2x3E-unsplash.jpg)'}">
      <div class="propoverlay">
        <p class="p1"></p>
      </div>
    </div>
    <div class="prop-desc">
      <p>Customer Requests</p>
    </div>
    <div class="list-of-prop">
      <div class="heading-button">
        <h1>Customer Requests</h1>
      </div>
      <div class="flex">
        <table>
          <thead>
            <tr>
              <th>Customer Name</th>
              <th>Property Name</th>
              <th>Location</th>
              <th>Status</th>
              <th>Executive Name</th>
              <th>Executive Email</th>
              <th>Executive Number</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of wishlist">
              <td>{{ request.customerName }}</td>
              <td>{{ request.propertyName }}</td>
              <td>{{ request.locality }}</td>
              <td>{{ request.requestStatus }}</td>
              <td>{{ request.executiveDetails?.name || 'Not Assigned' }}</td>
              <td>{{ request.executiveDetails?.email || 'Not Assigned' }}</td>
              <td>{{ request.executiveDetails?.number || 'Not Assigned' }}</td>
              <td>
                <button *ngIf="!request.executiveDetails" (click)="assignExecutive(request)">Assign Executive</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>  