<section class="customers">
    <div class="prop-img" [ngStyle]="{'background-image': 'url(../assets/spacejoy-c0JoR_-2x3E-unsplash.jpg)'}">
      <div class="propoverlay">
        <p class="p1"></p>
      </div>
    </div>
    <div class="prop-desc">
      <p>My Customers</p>
    </div>
    <div class="list-of-prop">
      <div class="heading-button">
        <h1>My Customers</h1>
      </div>
      <div class="flex">
        <table>
          <thead>
            <tr>
              <th>Property ID</th>
              <th>Property Name</th>
              <th>Location</th>
              <th>Status</th>
              <th>Customer Name</th>
              <th>Customer Email</th>
              <th>Customer Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of wishlist">
              <td>{{ request.propertyId }}</td>
              <td>{{ request.propertyName }}</td> <!-- Display property name -->
              <td>{{ request.locality }}</td>
              <td>{{ request.requestStatus }}</td>
              <td>{{ request.customerDetails?.name || 'Not Assigned' }}</td>
              <td>{{ request.customerDetails?.email || 'Not Assigned' }}</td>
              <td>{{ request.customerDetails?.number || 'Not Assigned' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>