<section class="properties">
    <div class="prop-img" [ngStyle]="{'background-image': 'url(../assets/spacejoy-c0JoR_-2x3E-unsplash.jpg)'}">
        <div class="propoverlay">
            <p class="p1">{{ propoverlaytext1 }}</p>
            <p class="p2">{{ propoverlaytext2 }}</p>
        </div>
    </div>
    <div class="prop-desc">
        <p>{{ propdesc }}</p>
    </div>
    <div class="list-of-prop">
        <div class="heading-button">
            <h1>{{ heading }}</h1>
            <div class="search-add">
                <div class="search">
                    <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (input)="filterItems()">
                    <fa-icon class="searchicon" [icon]="searchicon"></fa-icon>
                </div>
            </div>
            <span *ngIf="isManager" class="add" (click)="openPropertyForm()">
                <fa-icon class="plusicon" [icon]="plusicon"></fa-icon>{{ add }}</span>
        </div>
        <div *ngIf="isPropertyFormVisible" class="property-form">
            <form (submit)="createProperty()">
                <!-- Your input fields for property details -->
                <input type="text" placeholder="Property Name" [(ngModel)]="newProperty.name" name="name" required />
                <input type="text" placeholder="Location" [(ngModel)]="newProperty.location" name="location" required />
                <input type="number" placeholder="Rate" [(ngModel)]="newProperty.rate" name="rate" required />
                <input type="text" placeholder="Property Type" [(ngModel)]="newProperty.propertyType" name="propertyType" required />
                <textarea [(ngModel)]="newProperty.desc" name="desc" placeholder="Description" required></textarea>
                <input type="file" (change)="onFileChange($event)" accept="image/*" required />
                <button type="submit">Create Property</button>
            </form>
        </div>
        <div class="filterby">
            <button (click)="toggleFilters()" class="filter-button">Filter <fa-icon [icon]="filtericon"></fa-icon></button>
            <div class="filteroptions" *ngIf="showFilters">
                <h3>Filter by Category:</h3>
                <label><input type="checkbox" (change)="onCheckboxChange('category1')" [checked]="isCategoryChecked('category1')"> Residential</label><br>
                <label><input type="checkbox" (change)="onCheckboxChange('category2')" [checked]="isCategoryChecked('category2')"> Commercial</label><br>
                <label><input type="checkbox" (change)="onCheckboxChange('category3')" [checked]="isCategoryChecked('category3')"> Industrial</label><br>
                <label><input type="checkbox" (change)="onCheckboxChange('category4')" [checked]="isCategoryChecked('category4')"> Land</label><br>
                <div class="btn">
                    <button class="okbtn" (click)="applyFilters()">OK</button>
                    <button class="closebtn" (click)="cancelFilters()">Close</button>
                </div>
            </div>
        </div>
        <div class="flex">
            <div *ngFor="let property of filteredProperties" class="card">
                <img [src]="'../../../assets/' + property.name + '.jpg'" alt="{{ property.name }}" alt="Real Estate Image" />
                <p class="cat">{{ property.propertyType }}</p>
                <h1>{{ property.name }}</h1>
                <p>{{ property.location }}</p>
                <p class="price">{{ property.rate | currency:'INR' }}</p>
                <p class="desc">{{ property.desc }}</p>
                <button *ngIf="!isManager" class="edit-btn" (click)="addToWishlist(property)">Add to WishList</button>
                <button *ngIf="isManager" class="edit-btn" (click)="editProperty(property)">Edit</button>
                <button *ngIf="isManager" class="delete-btn" (click)="deleteProperty(property.pid)">Delete</button>
            </div>
        </div>
        <!-- Edit form only appears if editableProperty is not null -->
        <div *ngIf="editableProperty" class="edit-property-form">
            <form (submit)="updateProperty()">
            <input type="text" [(ngModel)]="editableProperty.name" name="name" placeholder="Property Name" required />
            <input type="text" [(ngModel)]="editableProperty.location" name="location" placeholder="Location" required />
            <input type="number" [(ngModel)]="editableProperty.rate" name="rate" placeholder="Rate" required />
            <input type="text" [(ngModel)]="editableProperty.propertyType" name="propertyType" placeholder="Property Type" required />
            <textarea [(ngModel)]="editableProperty.desc" name="desc" placeholder="Description" required></textarea>
            <input type="file" (change)="onFileChange($event)" accept="image/*" />
        
            <button type="submit">Update Property</button>
            <button type="button" (click)="cancelEdit()">Cancel</button>
            </form>
        </div>  
    </div>
</section>