  .footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
  }
  
  .footer-section {
    display: flex;
    gap: 30px;
  }
  
  .footer-section p {
    cursor: pointer;
  }
  
  .cozy {
    font-size: 20px;
    font-weight: 500;
    margin: 0 100px;
  }
  
  .right {
    position: absolute;
    right: 1%;
  }
  
  @media screen and (max-width: 992px) {
    .cozy {
      margin-left: 50px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .cozy {
      margin: 0 25px;
    }
  
  }
  
  @media screen and (max-width: 576px) {
    .cozy {
      margin: 0 10px;
      width: 10px;
    }
  
    .footer-section {
      margin-left: 110px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .cozy {
      font-size: 17px;
   padding-top: 50px;
    }
  
    .footer-section {
      display: flex;
      flex-direction: column;
    }
  
    .right {
      padding-top: 62px;
    }
  }
    